<head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>Welcome To Your To Do List</h1>
    <form action="/Items">
      <button type="click" class="btn btn-warning">Begin</a>
    </form>
  </div>
</body>
