<head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<h1>Select what you would like to do</h1>
<a href="/Items/List">View All Items</a><br>
<a href="/Items/CreateForm">Add New Item</a>
