<head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

  <h1>Add New Category</h1>
  <h1>Add New Item</h1>
  <form action="/Categories" method="post">
    <label for="newcategory">New Category</label>
    <input name="newcategory" id="newcategory" type="text" class="form-control">
    <button type="submit" class="btn btn-success">Add!</button>
  </form>
