<head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Add New Category</h1>
    <form action="/Categories" method="post">
      <label for="newcategory">New Category</label>
      <input name="newcategory" id="newcategory" type="text" class="form-control">
      <button type="submit" class="btn btn-success">Add!</button>
    </form>
    <br>
    <form action="/Categories">
      <button type="click" class="btn btn-warning">Back</button>
    </form>
  </div>
</body>
